@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  font-family: "Roboto", sans-serif;
  max-width: 100vw !important;
}
.App {
  text-align: left;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image_pos {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  justify-content: center;
  background-color: #407c66;
  align-items: center;

  padding: 0 40px;
  height: 90vh;
}
.image_side {
  margin: 0 auto;
}
.image_side > img {
  width: 650px;
  height: 500px;
}
.select_lang {
  color: white;
  width: 90%;
}
.select_lang label {
  color: white;
  font-size: 20px;
}
.MuiBox-root {
  display: flex;
}
.query {
  background-color: #407c66;
  height: 100vh;
  color: white;
  padding: 10px 40px;
}
.logo {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #407c66;
  position: relative;
}
.logo > img {
  width: 80px;
  height: 80px;
}
.logo > span {
  font-size: 25px;
  position: relative;
  left: -25px;
  color: white;
}
.select_lang,
.select_lang label,
.bttnn,
#demo-simple-select {
  color: white;
}
* {
  border-color: rgba(255, 255, 255, 0.303) !important;
}
@media only screen and (min-width: 1100px) {
  .image_side > img {
    right: -20vw !important;
  }
}
@media only screen and (min-width: 790px) {
  .image_pos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: transparent;
    height: 90vh;
    padding: 0;
  }
  .image_side {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 100%;
    background-color: transparent;
  }
  .image_side_color {
    background-color: #407c66;
    clip-path: circle(56.5% at 9% 53%);
    width: 100%;
    z-index: -1;
    height: 100%;
  }
  .image_side > img {
    width: 800px;
    height: 500px;
    position: absolute;
    top: 100px;
    right: -70%;
  }
  .select_lang,
  .select_lang label,
  .bttnn,
  #demo-simple-select {
    color: #407c66 !important;
  }
  .logo {
    box-shadow: 5px 5px 10px #407c66a8;
  }
  * {
    border-color: #407c66a8 !important;
  }
}
